.container {
	max-width: 1140px;
	padding: 0 15px;
	width: 100%;
	margin: 0 auto;
	&-small {
		max-width: 940px;
		width: 100%;
		margin: 0 auto;
	}
	&-large {
		max-width: 1440px;
		padding: 0 20px;
		width: 100%;
		margin: 0 auto;
	}
}

.row {
	display: flex;
}

.col {
	display: flex;
	flex-direction: column;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.m-0 {
	margin: 0;
}

.btn {
	font-family: inherit;
	cursor: pointer;
	border: none;
	@include center();
	&::after {
		@include pseudo();
	}
	&:focus {
		outline: none;
	}
}

.title {
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
}

.subtitle {
	font-size: 16px;
	line-height: 18px;
}

.check {
	display: flex;
	align-items: center;
	position: relative;
	&__input {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}
	&__box {
		position: relative;
		cursor: pointer;
		width: 14px;
		height: 14px;
		border-radius: 2px;
		border: 1px solid limegreen;
		margin-right: 10px;
		transition: $normal;
		&::after {
			@include pseudo;
			@include center;
			opacity: 0;
			width: 4px;
			height: 6px;
			border-right: 2px solid #fff;
			border-bottom: 2px solid #fff;
			transform: translate(-50%, -50%) rotate(45deg);
			transition: inherit;
		}
	}
	&__input:checked + &__box {
		background-color: limegreen;
		&::after {
			opacity: 1;
		}
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}
