// Base
@import "../base/vars";
@import "../mixins/scss/mixins";
@import "../base/normalize";
@import "../base/fonts";
@import "../base/classes";

// Components
@import "header/header";
@import "footer/footer";
body {
	color: $pink;
	font-family: "Montserrat";
}
body,
html {
	height: 100%;
}
