// Other
@import "vars";
@import "../mixins/scss/mixins";

// Base
@import "normalize";
@import "../base/fonts";
@import "classes";

// Components
@import "header/header";
@import "footer/footer";
body {
	color: $pink;
	font-family: "Montserrat";
}
body,
html {
	height: 100%;
}
