extends layouts/main
block variables
   - title = 'mainpage'
   - descreption = 'desctiption of mainpage'
block content
   .wrapper
      include components/header/header
      main.content
         .container
            include components/content/content
            label.check
               input(type='checkbox').check__input
               .check__box
               span.check__text example text
      include components/footer/footer
append scripts
