extends layouts/main
block variables
   - title = 'mainpage'
block content
   include components/header/header
   include components/content/content
   include components/footer/footer
append scripts
   script(src="example.js")