extends layouts/main
block variables
   - title = 'mainpage'
block content
   include components/header/header
   include components/content/content
   include components/footer/footer
prepend scripts
   script(src="example.js")
   script(src="https://code.jquery.com/jquery-3.6.3.min.js") 